@import '~antd/dist/antd.css';

.menu {
  padding: 0px 10px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px white;
  background-color: rgb(192, 209, 245);
}

.menu__logo {
  width: 155px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 15px 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(192, 209, 245);
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
  background-color: rgb(192, 209, 245);
  color: black;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
  background-color: rgb(192, 209, 245);
  color: black;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
  background-color: rgb(192, 209, 245);
  color: black;

}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
  background-color: rgb(192, 209, 245);
  color: black;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #000000;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}